* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #36454f; /* Slate grey */
  color: #708090; /* Charcoal */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page {
  background-color: #00cccc; /* Blue egg */
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 400px; /* Adjust for desktop */
  text-align: center;
}

h2 {
  color: #fffff0; /* Ivory */
}

p {
  color: #fffff0; /* Ivory */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #fffff0; /* Ivory */
}

button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #fffff0; /* Ivory */
  color: black;
  cursor: pointer;
  font-weight: bold;
}

button.google-button {
  background-color: #f6f6f6; /* Light background for Google button */
}

a {
  color: #fffff0; /* Ivory */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

/* Responsive styles */
@media (max-width: 768px) {
  .login-page {
      width: 80%;
  }
}

@media (max-width: 480px) {
  .login-page {
      width: 95%;
  }
}