
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fffff0; /* Ivory */
  text-decoration: none;
  
}
a:hover {
  text-decoration: underline;
}

body {
  background-color: #36454f; /* Slate grey */
  color: #708090; /* Charcoal */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #fffff0; /* Ivory */
}

p {
  color: #fffff0; /* Ivory */
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #fffff0; /* Ivory */
  color: black;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  border-color: #00cccc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #fffff0; /* Ivory */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #00cccc;
  }
  button {
    background-color: #f9f9f9;
  }
}
